extends ./layouts/layout.jade

block pageBody
	.container-fluid(id="breadcrumb")
		ul.breadcrumb
			li
				a(href="#") Home
			li
				a(href="#") Library
			li.active Data
			
		.panel.panel-default.fixed-right
			span#cartOK.glyphicon.glyphicon-shopping-cart.icon-lg(style="opacity:0;width:0")
			span#myCart.glyphicon.glyphicon-shopping-cart.icon-lg(data-toggle="popover" tabindex="0")
			
			.row(id="cart_popover" style="display:none")
				if shoppingCart && shoppingCart.articles.length > 0
					form#formArticle(name="formArticle")
						//.form-group
						table.table.table-striped
							- each item, index in shoppingCart.articles
								tr
									td Qty: #{item.quantity}
									td
										img(alt="Picture"+index src=item.article.imageUrl class="img-thumbnail" width="50")
									td
										p=item.article.name
									td
										p $ #{item.article.price}
									td
										button.close(type="button" aria-label="Remove from cart" name="removeFromCart" value=index)
											span(aria-hidden="true") &times;
						button.btn.btn-success.center-block#checkOut(type="button" aria-label="Checkout") Checkout &nbsp;
							span.glyphicon.glyphicon-shopping-cart
				else
					h4.small.text-muted.text-center Nada en tu carrito. Compra algo!
	.container-fluid
		.row
			.col-md-8.col-md-offset-4
				h2#item_name= article?article.name:""
			
	.container-fluid(id="catalog")
		.row
			.col-md-2.col-md-offset-2
				//-PICTURES SCROLL
				.btn-group.pre-scrollable(id="pictureScroll" data-toggle="buttons")
					if article & article.imageUrl
						each image, index in article.imageUrl
							label.btn.btn-default(class=index == 0?"active":"" aria-pressed=index == 0?"true" : "")
								input(type="radio" name="pictures" id="radio_picture"+index value=index)
								img(alt="Picture"+index src=image id="picture"+index class="img-thumbnail" width="100")
			
			.col-md-7
				//-CATALOG

				//-MAIN PICTURE
				.col-md-4
					img#mainPicture(alt="Picture3" src="/ubrania/img/thumbnail.png" class="img-thumbnail")
				
				.col-md-4
					//-SIZES
					.row
						.col-md-12
							.btn-group.btn-group-sm(role="group" aria-label"Sizes" data-toggle="buttons")
								if article
									each size, index in article.sizes
										label.btn.btn-default(class=size.stock && index==0?"active":"" class=!size.stock?"disabled":"" aria-pressed=size.stock && index==0?"true":"")=size.name
											input(type="radio" name="sizes" value=size.value disabled=!size.stock)
					
					br
					
					//-QUANTITY
					.row
						.col-md-12
							label(for="quantity" style="display:block") Cantidad
							span
								button(type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quantity" id="minusQty")
									span.glyphicon.glyphicon-minus
							| &nbsp
							input(type="text" name="quantity" id="quantity" class="form-control input-number readonly" value="1" min="1" readonly)
							| &nbsp
							span
								button(type="button" class="btn btn-default btn-number" data-type="plus" data-field="quantity" id="plusQty")
									span.glyphicon.glyphicon-plus
					
					//-PRICE
					.row
						.col-md-12
							if article 
								if article.onSale
									del
										h4.small $#{article.onSalePrice}
								.col-md-6
									h1= article? '$'+article.price:"$"
									input(type="hidden" value=article?article.price:"" name="price")
								if article.onSale
									.col-md-6.pull-left
										h3
											small.text-success #{Math.round(100 - article.onSalePrice*100/article.price)}% OFF
					
					br
					
					//-BUY BUTTON
					.row
						.col-md-12
							button#addToCart(type="button" class="btn btn-info center-block") Agregar al carrito
		
		.row
			.col-md-10.col-md-offset-1
				hr
				.col-md-10.col-md-offset-1
					//-DESCRIPCION
					h1 Descripcion
					p!=article? article.description: ""
					
		.row
			.col-md-10.col-md-offset-1
				hr
				.col-md-10.col-md-offset-1
					//-TALLES
					h1 Detalle de Tallas
					br
					.col-md-5
						.btn-group.btn-group-sm(role="group" aria-label"Sizes" data-toggle="buttons")
							- var i = 0
							if article
								each size, index in article.sizes
									label.btn.btn-default(class=size.stock && i==0?"active":"" class=!size.stock?"disabled":"" aria-pressed=size.stock && index==0?"true":"")=size.name
										input(type="radio" name="sizesDetail" value=size.value disabled=!size.stock)
									if i==0 && size.stock
										- i = 1
						
						br
						br
						
						.panel.panel-default
							.panel-heading
								| Medidas aproximadas
							- var i = 0
							if article
								- each size, index in article.sizes
									ul.list-group(style=i==0 && size.stock?"":"display:none" id="sizesDetailDesc_"+size.value)
										if size.measures.hasOwnProperty("hombro_a_hombro")
											li.list-group-item Hombro a hombro: #{size.measures.hombro_a_hombro}cm
										if size.measures.hasOwnProperty("largo")
											li.list-group-item Largo: #{size.measures.largo}cm
										if size.measures.hasOwnProperty("espalda")
											li.list-group-item Espalda: #{size.measures.espalda}cm
									if i==0 && size.stock
										- i = 1
					
					.col-md-7.text-center
							img(id="sizePreview" alt="sizePreview" src="./img/thumbnail.png" usemap="#clothMap")
							map(name="clothMap")
								area(shape="rect" coords="0,0,70,70" data-toggle="tooltip" title="Top-left")
								area(shape="rect" coords="71,0,140,70" data-toggle="tooltip" title="Top-right")
								area(shape="rect" coords="0,71,70,140" data-toggle="tooltip" data-placement="bottom" title="Down-left")
								area(shape="rect" coords="71,71,140,140" data-toggle="tooltip" data-placement="bottom" title="Down-right")
								
		
		//-Modal para carousel de imagenes
		#modal_carousel.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			.modal-dialog(role="document")
				.modal-content
					//-.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4#myModalLabel.modal-title Modal title
					.modal-body
						div(id="carouselArticle" class="carousel slide" data-ride="carousel")
							//Indicators
							ol(class="carousel-indicators")
								if article & imageUrl
									- each image, index in article.imageUrl
										li(data-target="#carouselArticle" data-slide-to=index class=index==0?"active":"")

							//-Wrapper for slides
							div(class="carousel-inner" role="listbox")
								if article & imageUrl
									- each image, index in article.imageUrl
										div(class=index==0?"item active":"item")
											img(src=image alt="Picture "+index)
											div(class="carousel-caption")
									
							a(class="left carousel-control" href="#carouselArticle" role="button" data-slide="prev")
								span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
								span(class="sr-only") Previous
							a(class="right carousel-control" href="#carouselArticle" role="button" data-slide="next")
								span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
								span(class="sr-only") Next
					//-.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Close
						button.btn.btn-primary(type="button") Save changes
	
	script
		include ../static/js/catalog.js